<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pl.lodz.p.edu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <!--Parameters for yahoo requests-->
        <meta-data
            android:name="APP_ID"
            android:value="TnEWkQ76" />
        <meta-data
            android:name="CLIENT_ID"
            android:value="<paste your client id here>" />
        <meta-data
            android:name="CLIENT_SECRET"
            android:value="<paste your secret here>" />

        <activity
            android:name="pl.lodz.p.edu.activities.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.lodz.p.edu.activities.AddPackingListActivity"
            android:label="@string/generate_packing_list_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="pl.lodz.p.edu.activities.ItemsActivity"
            android:label="@string/items_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="pl.lodz.p.edu.activities.PackingListsActivity"
            android:label="@string/packing_lists_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddTemplateActivity"
            android:label="@string/add_template_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TemplatesActivity"
            android:label="@string/templates_title"
            android:screenOrientation="portrait" />
    </application>

</manifest>
